@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamPro.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamPro-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamPro-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamPro-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {

	--index: calc(1vw + 1vh);
	--color-dark: #171422;
	--color-raspberry: #9E0B37;
	--color-raspberry-dark: #680422;
	--color-gold: #FFC531;

} 

@import 'scrollbar';

*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	user-select: none;
	box-sizing: border-box;

}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Gotham';
	font-size: 16px;
	color: #fff;
}

body.lock {
	overflow: hidden;

	@media screen and (min-width: 768px) {
		overflow: auto;
	}
}

.container {
	max-width: calc(1200px + (var(--index) * 2));
	margin: 0 auto;
	padding: 0 var(--index);
}

.section {
	padding: 100px 0;
}

p {
	line-height: 140%;
	font-size: 22px;
}

a {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px var(--color-dark);
	transition: .2s;

	&:hover {
		text-shadow: 1px 2px 9px var(--color-dark);	
	}
}

h1 {
	font-size: 44px;
	line-height: 120%;
	text-shadow: 2px 2px #111;

	@media (max-width: 420px) {
		font-size: 40px;
	}
}

.page {
	background: var(--color-dark);
}

.text-highlight {
	padding: 45px 40px 55px;
	border-radius: 30px;
	text-shadow: 1px 1px var(--color-dark);
	font-size: 22px;
	margin-bottom: 40px;
	background: rgb(255,164,98);
	background: linear-gradient(90deg, rgba(255,164,98,1) 0%, rgba(180,83,80,1) 22%, rgba(138,38,69,1) 49%, rgba(41,23,37,1) 85%);
}

.text-gradient {
	background: linear-gradient(to bottom, #8A2645 0%, #291725 67%, var(--color-dark) 99%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 183px;
	line-height: 138px;
	font-weight: bold;
}

@import 'header';

@import 'burger';

@import 's1';

// @import 'footer';